.background {
  z-index: -1;
  position: fixed;
  top: 0;
  float: left;
  width: 100%;
  min-height: 100vh;
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.38 'Open Sans';
  color: rgba(0, 0, 0, 0.87);
}

.container {
  width: 70%;
  height: auto;
  min-height: 480px;
  overflow: visible;
  clear: both;
  min-width: 270px;
  margin: 75px auto;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
}

.alterardados {
  width: 100%;
  height: auto;
  overflow: visible;
  margin: 15px auto 28px;
  border-radius: 10px;
}

.text {
  float: left;
  width: 100%;
  margin: 10px auto;
  min-height: 50px;
  font: 600 2em/2.5 'Open Sans';
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.buttondados {
  display: block;
  clear: both;
  height: 52px;
  width: 30%;
  min-width: 195px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(62, 113, 225);
  font: italic 600 1.35em/1.38 'Open Sans';
  text-align: center;  
  color: rgb(255, 255, 255);
}

.buttondados:hover {
  background-color: rgb(11, 62, 174);
}

._input {
  display: block;
  clear: both;
  width: 80%;
  min-width: 240px;
  height: 33px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font: 0.8em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
  overflow: visible;
  word-wrap: break-word;
}

._input:focus {
  border: 1 solid rgba(0, 0, 0, 0.54);
}

.alterardados ._input-1{
  margin: 10px auto 0;
}

.alterardados ._input-2,
.alterardados ._input-3{
  margin: 28px auto;
}

@media(max-width: 700px) {
  .alterardados .text {
    font: 600 2em/1.38 'Open Sans'; 
    margin: 18px auto;
  }
}
