body {

}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  float: left;
  width: 100%;
  min-height: 100vh;
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.38 'Open Sans';
  color: rgba(0, 0, 0, 0.87);
}

.cadastro {
  width: 100%;
  height: auto;
  overflow: visible;
  margin: 15px auto 28px;
  border-radius: 10px;
}

.container {
  width: 70%;
  height: auto;
  min-height: 480px;
  overflow: visible;
  clear: both;
  min-width: 270px;
  margin: 75px auto;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
}

.text {
  float: left;
  width: 100%;
  margin: 10px auto;
  min-height: 50px;
  font: 600 2em/2.5 'Open Sans';
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

._button {
  display: block;
  clear: both;
  width: 30%;
  height: 52px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(67, 212, 87);
  font: italic 600 1.35em/1.38 'Open Sans';
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(16, 161, 36);
}

._input {
  display: block;
  clear: both;
  width: 80%;
  min-width: 240px;
  height: 33px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font: 0.8em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

._input:focus {
  border: 1 solid rgba(0, 0, 0, 0.54);
}

.cadastro ._input-1 {
  margin: 10px auto 0;
}

.cadastro ._input-2,
.cadastro ._input-3,
.cadastro ._input-4 {
  margin: 28px auto;
}

.cadastro ._input-5 {
  margin: 28px auto;
}

.cadastro ._input-6 {
  margin: 28px auto;
}

@media(max-width: 900px) {
  .container .cadastro {
    min-width: 200px;
  }

  .cadastro ._button {
    min-width: 120px;
  }

  .cadastro ._input-1,
  .cadastro ._input-2,
  .cadastro ._input-3,
  .cadastro ._input-4 {
  }

  .cadastro ._input-5 {
  }

  .cadastro ._input-6 {
  }
}