body {
  background-color: rgb(255, 255, 255);
  font: 400 2em/2.5 'Open Sans';
  color: rgba(0, 0, 0, 0.87);
}

.background {
  float: left;
  width: 100%;
  height: 712px;
  border: 1px double rgb(0, 0, 0);
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
}

.cadastro {
  width: 69.7829716193%;
  min-width: 600px;
  height: 541px;
  margin: 75px auto 0;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
}

.container {
  position: relative;
  float: left;
  width: 100%;
  height: 712px;
}

.text {
  float: left;
  width: 100%;
  min-height: 50px;
  font-size: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 28.7066246056%;
  height: 52px;
  margin: 40px 0 0 35.64033%;
  border-radius: 5px;
  background-color: rgb(67, 212, 87);
  font: italic 700 0.75em/1.38 Helvetica;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(16, 161, 36);
}

._input {
  display: block;
  float: left;
  clear: both;
  width: 80.0177444794%;
  height: 33px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font: italic 0.375em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.cadastro ._input-1 {
  margin-left: 9.93197%;
}

.cadastro ._input-2,
.cadastro ._input-3,
.cadastro ._input-4 {
  margin: 28px 0 0 9.93197%;
}

.cadastro ._input-5 {
  margin: 28px 0 0 9.93571%;
}

.cadastro ._input-6 {
  margin: 28px 0 0 9.8759%;
}

@media(max-width: 900px) {
  .background .cadastro {
    width: 65.1447661469%;
    min-width: 400px;
  }

  .cadastro ._button {
    margin-left: 35.64904%;
    font-size: 0.625em;
  }

  .cadastro ._input-1,
  .cadastro ._input-2,
  .cadastro ._input-3,
  .cadastro ._input-4 {
    margin-left: 9.93056%;
  }

  .cadastro ._input-5 {
    margin-left: 9.9359%;
  }

  .cadastro ._input-6 {
    margin-left: 9.87714%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 2em;
  }

  .background .cadastro {
    width: 65.2173913043%;
    min-width: 300px;
  }

  .container {
    height: 711px;
  }

  .cadastro ._button {
    margin-left: 35.64503%;
    font-size: 0.563em;
  }

  .cadastro ._input-1,
  .cadastro ._input-2,
  .cadastro ._input-3,
  .cadastro ._input-4,
  .cadastro ._input-5 {
    margin-left: 9.92388%;
  }

  .cadastro ._input-6 {
    margin-left: 9.86779%;
  }
}

@media(max-width: 360px) {
  .background .cadastro {
    width: 85%;
    min-width: 200px;
  }

  .cadastro ._button {
    margin-left: 35.63543%;
    font-size: 0.5em;
  }

  .cadastro ._input-1,
  .cadastro ._input-2,
  .cadastro ._input-3,
  .cadastro ._input-4,
  .cadastro ._input-5 {
    margin-left: 9.9152799999%;
  }

  .cadastro ._input-6 {
    margin-left: 9.86393%;
  }
}