body {
  background-color: rgb(255, 255, 255);
  font: 400 2em/2.5 'Open Sans';
  color: rgba(0, 0, 0, 0.87);
}

.background {
  float: left;
  width: 100%;
  height: 712px;
  border: 1px double rgb(0, 0, 0);
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
}

.cadastro {
  position: relative;
  float: left;
  clear: both;
  z-index: 8;
  width: 52.8333333333%;
  height: 451px;
  margin: -637px 0 0 23.58073%;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
}

.container {
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  height: 712px;
}

.text {
  float: left;
  width: 100%;
  min-height: 50px;
  font-size: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 34.0694006309%;
  height: 52px;
  margin: 47px 0 0 35.65162%;
  border-radius: 5px;
  background-color: rgb(67, 212, 87);
  font: italic 700 0.75em/1.38 Helvetica;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(16, 161, 36);
}

._input {
  display: block;
  float: left;
  clear: both;
  width: 80.0177444794%;
  height: 33px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font: italic 0.375em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.cadastro ._input-1 {
  margin-left: 9.93198%;
}

.cadastro ._input-2 {
  margin: 34px 0 0 9.93691%;
}

.cadastro ._input-3 {
  margin: 31px 0 0 9.93691%;
}

.cadastro ._input-4 {
  margin: 33px 0 0 9.84326%;
}

@media(max-width: 680px) {
  .cadastro {
    position: relative;
    z-index: 8;
    width: 52.875%;
    height: 419px;
    margin-left: 23.57767%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .cadastro ._button {
    width: 48.5421591804%;
    margin-top: 28px;
    margin-left: 25.78124%;
  }

  .cadastro ._input-1 {
    margin-left: 9.92811%;
  }

  .cadastro ._input-2,
  .cadastro ._input-3 {
    margin-left: 9.93266%;
  }

  .cadastro ._input-4 {
    margin-left: 9.8416599999%;
  }
}

@media(max-width: 460px) {
  body {
    font-size: 2em;
  }

  .cadastro {
    position: relative;
    z-index: 8;
    width: 61.6666666666%;
    margin-top: -633px;
    margin-left: 18.83492%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .cadastro ._button {
    width: 60.0282667351%;
    margin-top: 30px;
    margin-left: 19.8689%;
  }

  .cadastro ._input-1 {
    margin-left: 9.89864%;
  }

  .cadastro ._input-2 {
    margin-top: 28px;
    margin-left: 9.8215299999%;
  }

  .cadastro ._input-3 {
    margin-top: 30px;
    margin-left: 9.8215299999%;
  }

  .cadastro ._input-4 {
    margin-top: 38px;
    margin-left: 9.8215299999%;
  }
}

@media(max-width: 400px) {
  .cadastro {
    position: relative;
    z-index: 8;
    margin-top: -630px;
    margin-left: 19.375%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .cadastro ._button {
    width: 67.246757511%;
    margin-top: 32px;
    margin-left: 16.77436%;
  }

  .cadastro ._input-1 {
    margin-left: 9.88851%;
  }

  .cadastro ._input-2,
  .cadastro ._input-3,
  .cadastro ._input-4 {
    margin-left: 9.80616%;
  }
}

@media(max-width: 360px) {
  body {
    font-size: 2em;
  }

  .cadastro {
    position: relative;
    z-index: 8;
    margin-top: -637px;
    margin-left: 19.16667%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .cadastro ._button {
    margin-left: 16.75816%;
  }

  .cadastro ._input-1 {
    margin-left: 9.8888%;
  }

  .cadastro ._input-2,
  .cadastro ._input-3,
  .cadastro ._input-4 {
    margin-left: 9.80434%;
  }
}

@media(max-width: 310px) {
  .cadastro {
    position: relative;
    z-index: 8;
    width: 69.6774193548%;
    margin-left: 15.16129%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .cadastro ._button {
    margin-left: 16.7763199999%;
  }

  .cadastro ._input-1 {
    margin-left: 9.89833%;
  }

  .cadastro ._input-2,
  .cadastro ._input-3,
  .cadastro ._input-4 {
    margin-left: 9.80114%;
  }
}