.background {
  z-index: -1;
  position: fixed;
  top: 0;
  float: left;
  width: 100%;
  min-height: 100vh;
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.38 'Open Sans';
  color: rgba(0, 0, 0, 0.87);
  margin: auto;
  padding: auto;
}

.element {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 30%;
  overflow: auto;
  width: 50%;
  min-width: 270px;
  height: auto;
  margin: auto;
  padding: 28px;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
  vertical-align: middle;
}

.principal {
  display: block;
  float: left;
  width: 100%;
  margin: auto;
  font: 600 2em/1.38 'Open Sans';
  text-align: center;
  color: rgba(0, 0, 0, 0.87)  
}

.text {
  display: inline-block;
  float: left;
  width: 100%;
  margin: auto;
  padding: 10px;
  font: 400 1.35em/1.38 'Open Sans';
  text-align: center;
  color: rgba(0, 0, 0, 0.87)  
}

@media(max-width: 800px) {
  .element {
    vertical-align: middle;
    width: 70%;
  }
}