p {
  margin-bottom: 1em;
}

.background {
  font: 600 2.5em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
  position: relative;
  float: left;
  width: 100%;
  height: 800px;
  min-height: 800px;
  background: url('../images/Scan&Skip%20Background.png') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
}

.element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 42%;
  height: 300px;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  height: 268px;
  min-height: 72px;
  margin: auto;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

@media(max-width: 1045px) {
  .background .element {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 42.0095693779%;
    height: 362px;
    margin: auto;
  }

  .element .text {
    top: 15px;
    bottom: auto;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 835px) {
  body {
    font-size: 2.5em;
  }

  .background .element {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 52.8143712574%;
    margin: auto;
  }

  .element .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 640px) {
  .background .element {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 69.6875%;
    margin: auto;
  }

  .element .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 490px) {
  body {
    font-size: 2.5em;
  }

  .background .element {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 79.7959183673%;
    height: 382px;
    margin: auto;
  }

  .element .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}