body {
  background-color: rgb(255, 255, 255);
  font: 600 1em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
}

.barra {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(11, 62, 174);
}

.botaobarra {
  display: block;
  position: absolute;
  top: 10px;
  height: 31px;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font-style: italic;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.botaobarra:hover {
  color: rgb(250, 220, 10);
}

.botaocadastro {
  right: 7.4571656852%;
  z-index: 3;
  width: 34.0899002752%;
}

.botaohome {
  right: 79.5460598348%;
  width: 20.4539401651%;
}

.botaologin {
  right: 41.5500251531%;
  z-index: 2;
  width: 19.128221821%;
}

.botaosobre {
  right: 60.6072263486%;
  z-index: 1;
  width: 18.9388334862%;
}

.botoesbarra {
  position: relative;
  float: left;
  width: 44.0013020833%;
  height: 50px;
  margin-left: 13.58073%;
  background-color: rgb(11, 62, 174);
}

.corpo {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: rgb(11, 62, 174);
}

.textheader {
  float: left;
  width: 42.4166666666%;
  height: 50px;
  min-height: 50px;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font-style: italic;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: rgb(250, 220, 10);
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  height: 770px;
  margin: 0 auto;
  overflow: hidden;
}

@media(max-width: 800px) {
  .barra,
  .corpo .footer {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    margin-left: 13.58008%;
  }

  .botoesbarra .botaocadastro {
    width: 37.9838423295%;
    min-width: 100px;
  }

  .botoesbarra .botaohome {
    width: 20.4545454545%;
    min-width: 50px;
  }

  .botoesbarra .botaologin {
    width: 19.1273082386%;
  }

  .botoesbarra .botaosobre {
    width: 18.936434659%;
  }

  .corpo {
    top: 98px;
    left: 0;
    right: 0;
    height: 694px;
    margin-right: auto;
    margin-left: auto;
  }

  .corpo .wrapper {
    top: -47px;
    left: 0;
    right: 0;
    height: 711px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 1em;
  }

  .barra,
  .corpo .footer {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    margin-left: 13.58073%;
  }

  .botoesbarra .botaocadastro {
    width: 37.9853219696%;
  }

  .botoesbarra .botaohome {
    width: 16.9197396963%;
  }

  .botoesbarra .botaologin {
    width: 19.1287878787%;
    min-width: 50px;
  }

  .botoesbarra .botaosobre {
    width: 18.9393939393%;
    min-width: 50px;
  }

  .corpo {
    top: 50px;
    left: 0;
    right: 0;
    height: 742px;
    margin-right: auto;
    margin-left: auto;
  }

  .corpo .wrapper {
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 460px) {
  .barra {
    left: 0;
    right: 0;
    height: 98px;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    clear: both;
    width: 100.2173913043%;
    margin-left: -0.21739%;
  }

  .botoesbarra .botaocadastro {
    width: 30%;
    min-width: 80px;
  }

  .botoesbarra .botaologin {
    width: 20%;
  }

  .botoesbarra .botaohome,
  .botoesbarra .botaosobre {
    right: auto;
    width: 20%;
  }

  .corpo {
    top: 98px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .corpo .footer,
  .corpo .wrapper {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 360px) {
  body {
    font-size: 1em;
  }

  .barra,
  .corpo,
  .corpo .footer,
  .corpo .wrapper {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    margin-left: -0.2777800001%;
  }

  .botoesbarra .botaocadastro {
    width: 39.359029883%;
  }

  .botoesbarra .botaohome,
  .botoesbarra .botaosobre {
    left: auto;
  }
}