body {
  background-color: rgb(255, 255, 255);
  font: 700 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.barra {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(11, 62, 174);
}

.botaoBarra {
  display: block;
  float: right;
  height: 31px;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font-style: italic;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.botaoBarra:hover {
  color: rgb(250, 220, 10);
}

.botaoCadastro {
  clear: both;
  width: 34.0899002752%;
  margin: -31px 7.45717% 0 0;
}

.botaoHome {
  width: 20.4539401651%;
  margin: 10px 79.54606% 0 0;
}

.botaoLogin {
  position: relative;
  clear: both;
  z-index: 2;
  width: 19.128221821%;
  margin: -31px 41.55003% 0 0;
}

.botaoSobre {
  position: relative;
  clear: both;
  z-index: 1;
  width: 18.9388334862%;
  margin: -31px 60.60723% 0 0;
}

.botoesbarra {
  float: left;
  width: 44.0013020833%;
  height: 50px;
  margin-left: 13.58073%;
  background-color: rgb(11, 62, 174);
}

.corpo {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: rgb(11, 62, 174);
}

.textheader {
  float: left;
  width: 42.4166666666%;
  height: 50px;
  min-height: 50px;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font: italic 400 2em/1.5 'Open Sans';
  text-align: center;
  color: rgb(250, 220, 10);
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  height: 770px;
  margin: 0 auto;
  overflow: hidden;
}

@media(max-width: 800px) {
  .barra,
  .corpo .footer {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    margin-left: 13.58008%;
  }

  .botoesbarra .botaoBarra {
    position: relative;
  }

  .botoesbarra .botaoCadastro {
    z-index: 3;
    width: 37.9838423295%;
    min-width: 100px;
    margin-right: 3.55558%;
  }

  .botoesbarra .botaoHome {
    z-index: 0;
    width: 20.4545454545%;
    min-width: 50px;
    margin-right: 79.54102%;
  }

  .botoesbarra .botaoLogin {
    z-index: 2;
    width: 19.1273082386%;
    margin-right: 41.56605%;
  }

  .botoesbarra .botaoSobre {
    z-index: 1;
    width: 18.936434659%;
    margin-right: 60.61346%;
  }

  .corpo {
    top: 98px;
    left: 0;
    right: 0;
    height: 694px;
    margin-right: auto;
    margin-left: auto;
  }

  .corpo .wrapper {
    top: -47px;
    left: 0;
    right: 0;
    height: 711px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 1em;
  }

  .barra,
  .corpo .footer {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    margin-left: 13.58073%;
  }

  .botoesbarra .botaoBarra {
    position: relative;
  }

  .botoesbarra .botaoCadastro {
    z-index: 3;
    width: 37.9853219696%;
    margin-right: 8px;
  }

  .botoesbarra .botaoHome {
    z-index: 0;
    width: 16.9197396963%;
    margin-right: 209px;
  }

  .botoesbarra .botaoLogin {
    z-index: 2;
    width: 19.1287878787%;
    min-width: 50px;
    margin-right: 108px;
  }

  .botoesbarra .botaoSobre {
    z-index: 1;
    width: 18.9393939393%;
    min-width: 50px;
    margin-right: 159px;
  }

  .corpo {
    top: 50px;
    left: 0;
    right: 0;
    height: 742px;
    margin-right: auto;
    margin-left: auto;
  }

  .corpo .wrapper {
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 460px) {
  .barra {
    left: 0;
    right: 0;
    height: 98px;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    clear: both;
    width: 100.2173913043%;
    margin-left: -0.21739%;
  }

  .botoesbarra .botaoBarra {
    position: relative;
  }

  .botoesbarra .botaoCadastro {
    z-index: 3;
    width: 30%;
    min-width: 80px;
    margin-right: 0;
  }

  .botoesbarra .botaoHome {
    float: left;
    z-index: 0;
    width: 20%;
    margin-right: 0;
  }

  .botoesbarra .botaoLogin {
    clear: none;
    z-index: 2;
    width: 20%;
    margin-top: 10px;
    margin-right: 134px;
  }

  .botoesbarra .botaoSobre {
    float: left;
    clear: none;
    z-index: 1;
    width: 20%;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 9px;
  }

  .corpo {
    top: 98px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .corpo .footer,
  .corpo .wrapper {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 360px) {
  body {
    font-size: 1em;
  }

  .barra,
  .corpo,
  .corpo .footer,
  .corpo .wrapper {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .barra .botoesbarra {
    margin-left: -0.2777800001%;
  }

  .botoesbarra .botaoBarra {
    position: relative;
  }

  .botoesbarra .botaoCadastro {
    z-index: 3;
    width: 39.359029883%;
    margin-right: 0.27718%;
  }

  .botoesbarra .botaoHome {
    float: right;
    z-index: 0;
    margin-right: 79.71849%;
  }

  .botoesbarra .botaoLogin {
    clear: both;
    z-index: 2;
    margin-top: -31px;
    margin-right: 39.71416%;
  }

  .botoesbarra .botaoSobre {
    float: right;
    clear: both;
    z-index: 1;
    margin-top: -31px;
    margin-right: 59.71849%;
    margin-left: 0;
  }
}