.background {
  z-index: -1;
  position: fixed;
  top: 0;
  float: left;
  width: 100%;
  min-height: 100vh;
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.38 'Open Sans';
  color: rgba(0, 0, 0, 0.87);
}

.g-recaptcha  div {
  margin: 15px auto;
}

.checkbox {
  display: block;
  float: left;
  vertical-align: middle;
}

.container {
  width: 70%;
  height: auto;
  min-height: 480px;
  overflow: visible;
  clear: both;
  min-width: 270px;
  margin: 75px auto;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
}

.login {
  width: 100%;
  height: auto;
  overflow: visible;
  margin: 15px auto 28px;
  border-radius: 10px;
}

.text {
  display: inline-block;
  width: 38%;
  height: 14px;
  font: bold italic 0.8em/1.25 'Open Sans';
  text-align: right;
  color: rgb(11, 62, 174);
}

.text:hover {
  font-style: italic;
  text-decoration: underline;
}

.perma-rec {
  display: block;
  width: 80%;
  min-width: 240px;
  min-height: 28px;
  overflow: visible;
  clear: both;
  margin: 18px auto;
  border-radius: 10px;
}

.permanecer-conectado {
  display: inline-block;
  float: left;
  width: 62%;
  height: 14px;
}

.point-text {
  display: block;
  width: 80%;
  height: 14px;
  float: left;
  margin-left: 10px;
  font: 0.8em/1.38 'Open Sans';
}


._button {
  display: block;
  clear: both;
  height: 52px;
  width: 40%;
  min-width: 150px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(62, 113, 225);
  font: italic 600 1.35em/1.38 'Open Sans';
  text-align: center;  
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(11, 62, 174);
}


._input {
  display: block;
  clear: both;
  width: 80%;
  min-width: 240px;
  height: 33px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font: 0.8em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

._input:focus {
  border: 1 solid rgba(0, 0, 0, 0.54);
}

.text-1 {
  top: 10px;
  z-index: 9;
  width: 100%;
  min-height: 50px;
  margin: 20px auto 0;
  font: 600 2em/2.5 'Open Sans';
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.text-2 {
  float: left;
  top: 10px;
  z-index: 9;
  width: 100%;
  min-height: 50px;
  margin: 10px auto;
  font: 600 2em/2.5 'Open Sans';
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.login ._input-1 {
  margin: 10px auto 0;
}

.login ._input-2 {
  margin: 28px auto;
}

@media(max-width: 510px) {

  .container .text-2,
  .container .text-1 {
    font: 600 2em/1.38 'Open Sans';
    margin-bottom: 15px;
  }
}