body {
}

.alterar_dados {
  top: 0;
  left: 0;
  z-index: 1;
  padding: 5px;
  background-color: rgb(62, 113, 255);
  line-height: 1.38;
}

.alterar_senha {
  top: 0;
  right: 0;
  background-color: #3e71ff;
  line-height: 1.38;
}

.background {
  float: left;
  width: 100%;
  height: 800px;
  border: 1px double rgb(0, 0, 0);
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
  font: 400 1em/1.38 'Open Sans';
  color: rgba(0, 0, 0, 0.87);
}

.buttonperfil {
  display: block;
  position: absolute;
  width: 49%;
  height: 54px;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.buttonperfil:hover {
  color: rgb(240, 205, 101);
}

.carrinho {
  top: 70px;
  right: 0;
  z-index: 3;
  padding: 5px;
  background-color: rgb(62, 113, 255);
  line-height: 1.38;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.cpf {
  top: 47px;
  z-index: 6;
  width: 80%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}

.email {
  top: 94px;
  z-index: 5;
  width: 80%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}

.image {
  display: block;
  float: left;
  width: 170px;
  height: auto;
  overflow: hidden;
}

.mapa {
  top: 70px;
  left: 0;
  z-index: 2;
  padding: 5px;
  background-color: rgb(62, 113, 255);
  line-height: 1.38;
}

.nome {
  top: 0;
  position: relative;
  z-index: 7;
  width: 80%;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}

.params {
  display: inline-block;
  position: relative;
  top: 315px;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  height: 128px;
  margin: 0 auto;
  padding: auto;
}

.perfil {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  z-index: 12;
  width: 78.25%;
  height: 678px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(113, 164, 255, 0.2);
}

.text {
  display: inline-block;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

._text {
  top: 28px;
  z-index: 9;
  width: 100%;
  min-height: 63px;
  font-size: 2em;
  font-weight: 600;
  line-height: 2.5;
  color: rgb(0, 0, 0);
}

.container-1 {
  top: 109px;
  z-index: 11;
  width: 170px;
  height: 170px;
}

.container-2 {
  display: inline-block;  
  margin: auto;  
  top: 465px;
  z-index: 4;
  width: 80%;
  height: 124px;
}

@media(max-width: 650px) {
  .container .alterar_senha {
  }

  .container .buttonperfil {
  }

  .container .image {
    height: auto;
  }

  .background .perfil,
  .params .text,
  .perfil ._text,
  .perfil .params {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .perfil .container {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .perfil .container-2 {
    height: 123px;
  }
}

@media(max-width: 360px) {

  .container .image {
    height: auto;
  }

  .background .perfil,
  .params .text,
  .perfil ._text,
  .perfil .container,
  .perfil .params {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
