{% extends "MainPage.html" %}
{% load static %}

{% block title %}Alterar-dados{% endblock %}

{% block extra_head_content %}

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/alterar-dados-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/alterar-dados.css' %}">
{% endblock %}

{% block content %}
  <div class="background clearfix">
  
    <div class="container">
      <form class="alterardados clearfix" method="POST" action="{% url 'alterardados'%}">{% csrf_token %}
        <p class="text">Meus Dados Cadastrais</p>
        <div style="font-size: 15px; color: red; text-align: center; top: 0px; margin-bottom:15px;">  
          {% if atualErrada %}
            Senha atual não corresponde<br>
          {% endif %}
          {% if naoConfirma %}
            Senha não está de acordo com a confirmação<br>
          {% endif %}
        </div>
        <input class="_input _input-1" name="nome" value="{{nome}}" type="text">
        <input class="_input _input-2" name="email" value="{{email}}" type="text">
        <input class="_input _input-3" name="CPF" placeholder="{{CPF}}" type="text" disabled>
        <button class="buttondados salvar" type="submit">Salvar alterações</button>
      </form>
    </div>
  </div>
  <script src="js/jquery-min.js"></script>
{% endblock %}