<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Cadastro</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/standardize.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/cadastro-grid.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/cadastro.css' %}" type="text/css">
</head>
<body class="body page-cadastro clearfix">
  <div class="container clearfix">
    <div class="background"></div>
  </div>
  <form class="cadastro clearfix" method="POST">{% csrf_token %}

    <p class="text">Cadastre-se</p>
    <input class="_input _input-1" name="nome" placeholder="Nome completo" type="text">

    <input class="_input _input-3" name="email" placeholder="E-mail" type="text">

    <input class="_input _input-5" name="senha1" placeholder="Senha" type="password">

    <input class="_input _input-6" name="senha2" placeholder="Confirmar senha" type="password">

    <button class="_button" type="submit">Cadastrar</button>
  </form>
</body>
</html>