{% extends "MainPage.html" %}
{% load static %}

{% block title %}confirmacao-email{% endblock %}

  {% block extra_head_content %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/confirmacao-email-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/confirmacao-email.css' %}">
  {% endblock %}

{% block content %}
  <div class="background"></div>
  <div>
    <div class="element">
      <p class="principal">Pronto!&nbsp;</p>
      <p class="text">Uma senha provisória foi enviada para o e-mail cadastrado!</p>
    </div>
  </div>
{% endblock %}