

<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Scan&Skip -</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/header---footer-grid.css">
  <link rel="stylesheet" href="css/header---footer.css">

</head>
<body class="body page-header---footer clearfix">

<div class="corpo">
    <div class="wrapper">teste</div>
    <footer class="footer"></footer>
</div>
  <div class="barra clearfix">
    <p class="textheader">Scan&Skip</p>
    <div class="botoesbarra clearfix">
      <a href="/cadastro/home"><button class="botaoBarra botaoHome">Home</button></a>
      <a href="/cadastro/sobre"><button class="botaoBarra botaoSobre" type="button">Sobre</button></a>
      <a href="/cadastro/login"><button class="botaoBarra botaoLogin">Login</button></a>
      <a href="/cadastro/realiza_cadastro"><button class="botaoBarra botaoCadastro">Cadastre-se</button></a>
    </div>
  </div>

  <script src="cadastroapp/js/jquery-min.js"></script>
</body>
