{% extends "MainPage.html" %}
{% load static %}

  {% block extra_head_content %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/home-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/home.css' %}">
  {% endblock %}

{% block content %}
  <div class="background">
    <div class="container clearfix">
      <p class="text text-1">Quem somos nós?</p>
      <img class="image" src="{% static 'cadastroapp/images/Pague leve LOGO 2-450x278.png' %}" data-rimage data-src="{% static 'cadastroapp/images/Pague leve LOGO 2-450x278.png' %}">
      <div class="text _text text-2">
        <p>O Scan&amp;Skip é um sistema desenvolvido por alunos da Engenharia da Computação da Escola Politécnica da Universidade de São Paulo, cujo principal objetivo é melhorar a experiência de compra de um cliente de supermercado de pequeno e médio porte, diminuindo o tempo de ociosidade.</p>
      </div>
    </div>
  </div>
{% endblock %}

