<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>login</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/standardize.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/login-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/login.css' %}">
</head>
<body class="body page-login clearfix">
  <div class="background">
    <div class="container container-1">
      <a href="/cadastro"><button class="_button _button-1" type="submit">Cadastre-se</button></a>
      <p class="text text-1">Ainda não tem conta?</p>
      <p class="text text-2">Acessar minha conta</p>
      <form class="login">
        <div class="container clearfix">
          <label class="permanecer-conectado clearfix">
            <input class="checkbox" type="checkbox">
            <span class="point-text">Permanecer conectado</span>
          </label>
          <a href="recuperar-senha.html" class="text">Esqueci a senha</a>
        </div>
        <button class="_button" type="submit">Entrar</button>
        <input class="_input _input-1" name="Sobrenome" placeholder="Senha" type="password">
        <input class="_input _input-2" name="Nome" placeholder="E-mail" type="email">
      </form>
    </div>
  </div>
</body>
</html>