<!doctype html>

{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>login</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:600,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/standardize.css' %}">
  {% block extra_head_content %}
  <link rel="stylesheet" href="{% static 'cadastroapp/css/login-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/login.css' %}">
  {% endblock %}
</head>
<body class="body page-login clearfix">
{% block content %}
  <div class="background">
    <div class="container container-1">

      <form class="login" method="POST">{% csrf_token %}

        <input class="_input _input-2" name="email" placeholder="E-mail" type="email">
        <input class="_input _input-1" name="senha" placeholder="Senha" type="password">
        <button class="_button" type="submit">Entrar</button>
        {% if errado %}
          <div style="margin-left: 80px; margin-top: -3px; color: red">E-mail e/ou senha incorretos</div>
        {% endif %}
        <div class="container clearfix">

          <label class="permanecer-conectado clearfix">
            <input class="checkbox" type="checkbox" name="permanece">
            <span class="point-text">Permanecer conectado</span>
          </label>
          <a href="/cadastro/recuperar-senha" class="text">Esqueci a senha</a>
        </div>

      </form>
      <a href="/cadastro"><button class="_button _button-1" type="submit">Cadastre-se</button></a>
      <p class="text text-1">Ainda não tem conta?</p>
      <p class="text text-2">Acessar minha conta</p>
    </div>
  </div>
{% endblock %}
</body>
</html>