{% extends "MainPage.html" %}
{% load static %}

  {% block extra_head_content %}
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/sobre-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/sobre.css' %}">
  {% endblock %}

{% block content %}
  <div class="background"></div>
  <div>
    <div class="container">
      <p class="text">Como funciona?</p>
      <p class="_text expl">Veja como é simples utilizar o Scan&amp;Skip em suas compras de supermercado!</p>

      <hr>

      <div class="row row-centered">
        <div class="col-xs-6t col-centered"><div class="item"><div class="content">

          <div class="number">1</div>
          <div class="_text">Cadastre-se <a href="/cadastro">aqui</a> e confirme suas informações pelo email que te mandaremos.</div>
        </div></div></div>
        <div class="col-xs-6i col-centered"><div class="item"><div class="content">
          <img class="image" src="{% static 'cadastroapp/images/icon-cadastro.PNG' %}" data-rimage data-src="{% static 'cadastroapp/images/icon-cadastro.PNG' %}">
        </div></div></div>
      </div>

      <hr>

      <div class="row row-centered">
        <div class="col-xs-6t col-centered"><div class="item"><div class="content">
          <div class="number">2</div>
          <p class="_text">Faça login no seu smartphone* e vá a um de nossos supermercados parceiros.</p>
          <p style="margin: 10px; font-size: 13px; float:right;">*Apenas smartphones que tenham leitor NFC embutido ou acoplado habilitado.</p>
        </div></div></div>
        <div class="col-xs-6i col-centered"><div class="item"><div class="content">
          <img class="image" src="{% static 'cadastroapp/images/icon-logar.PNG' %}" data-rimage data-src="{% static 'cadastroapp/images/icon-logar.PNG' %}">
        </div></div></div>
      </div>

      <hr>

      <div class="row row-centered">
        <div class="col-xs-6t col-centered"><div class="item"><div class="content">
          <div class="number">3</div>
          <p class="_text">Dirija-se, autonomamente ou por meio do mapa do supermercado, ao produto que deseja adicionar ao carrinho e encoste seu celular no local indicado na prateleira.</p>
        </div></div></div>
        <div class="col-xs-6i col-centered"><div class="item"><div class="content">
          <p style="text-align:center;  margin: auto; color: red;">*GIF*</p>
          <!--<img class="image" src="{% static 'cadastroapp/images/icon-cadastro.PNG' %}" data-rimage data-src="{% static 'cadastroapp/images/icon-cadastro.PNG' %}">-->
        </div></div></div>
      </div>

      <hr>

      <div class="row row-centered">
        <div class="col-xs-6t col-centered"><div class="item"><div class="content">
          <div class="number">4</div>
          <p class="_text">Entre com a quantidade desse produto que você está colocando em seu carrinho físico e clique em <i>Adicionar</i>. Se queria apenas conferir seu preço, simplesmente feche a aba aberta.</p>
        </div></div></div>
        <div class="col-xs-6i col-centered"><div class="item"><div class="content">
          <img class="image" src="{% static 'cadastroapp/images/icon-carrinho.PNG' %}" data-rimage data-src="{% static 'cadastroapp/images/icon-carrinho.PNG' %}">
        </div></div></div>
      </div>

      <hr>

      <div class="row row-centered">
        <div class="col-xs-6t col-centered"><div class="item"><div class="content">
          <div class="number">5</div>
          <p class="_text">Quando terminar sua compra, escolha entre pagar a conta pelo próprio aplicativo, ou receber uma senha para ser atendido por um caixa.</p>
        </div></div></div>
        <div class="col-xs-6i col-centered"><div class="item"><div class="content">
          <img class="image" src="{% static 'cadastroapp/images/icon-pagar.PNG' %}" data-rimage data-src="{% static 'cadastroapp/images/icon-pagar.PNG' %}">
        </div></div></div>
      </div>

    </div>
  </div>
{% endblock %}