
{% extends "MainPage.html" %}
{% load static %}

  {% block extra_head_content %}
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/sobre-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/sobre.css' %}">
  {% endblock %}

{% block content %}
  <div class="container _container container-1">
    <p class="text text-1">Por trás do Scan&amp;Skip</p>
    <div class="container _container clearfix">
      <div class="container container-3 clearfix">
        <img class="image" src="{% static 'cadastroapp/images/compra-desenho-390x291.png' %}" data-rimage data-src="{% static 'cadastroapp/images/compra-desenho-390x291.png' %}">
      </div>
      <p class="text text-2">A Scan&amp;Skip é um sistema eficiente com o objetivo de melhorar a compra do cliente de um supermecado, propomos a agilizar todo o processo de seleção e pagamento de produtos.</p>
      <div class="element"></div>
      <p class="text text-3">O serviço foi criado por alunos da Escola Politécnica e foi proposto a partir de uma necessidade encontrada pelos próprios alunos.
</p>
    </div>
  </div>

  <script src="{% static 'cadastroapp/js/jquery-min.js' %}"></script>
  <script src="{% static 'cadastroapp/js/rimages.js' %}"></script>
{% endblock %}
