body {
  background-color: rgb(255, 255, 255);
  font: 700 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.background {
  float: left;
  width: 100%;
  height: 712px;
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
}

.container {
  float: left;
}

.container .container {
  height: 50px;
}

.footer {
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  background-color: rgb(11, 62, 174);
}

.text {
  float: left;
  width: 42.4166666666%;
  min-height: 50px;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font-size: 1.875em;
  line-height: 1.5;
  text-align: center;
  color: rgb(240, 205, 101);
}

._button {
  display: block;
  float: left;
  height: 31px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(11, 62, 174);
  font-style: italic;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  color: rgb(240, 205, 101);
}

.container-1 {
  width: 100%;
  height: 742px;
  margin-top: 50px;
}

.container-2 {
  width: 100%;
  margin-top: -50px;
  background-color: rgb(11, 62, 174);
}

.container-3 {
  width: 49.8333333333%;
  margin-left: 7.66667%;
}

.container ._button-1 {
  width: 13.168896321%;
  margin-left: 18.73955%;
}

.container ._button-2 {
  width: 12.9598662207%;
  margin-left: 3.87751%;
}

.container ._button-3 {
  width: 13.168896321%;
  margin-left: 4.06825%;
}

.container ._button-4 {
  width: 30.1003344481%;
  margin-left: 3.88535%;
}

@media(max-width: 600px) {
  .container .text {
    margin-left: 16.83073%;
  }

  .container .container-3 {
    clear: both;
    width: 100%;
    margin-left: 0;
    background-color: rgb(11, 62, 174);
  }

  .container ._button-1 {
    margin-left: 16.28125%;
  }

  .container ._button-2 {
    margin-left: 6.44531%;
  }

  .container ._button-3 {
    position: relative;
    z-index: 2;
    margin-left: 7.90625%;
  }

  .container ._button-4 {
    position: relative;
    clear: both;
    z-index: 1;
    margin-top: -31px;
    margin-left: 69.86979%;
  }
}