body {
  background-color: rgb(255, 255, 255);
  font: 600 1.5em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 42.3333333333%;
  height: 430px;
  margin: -686px 0 0 28.83333%;
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 800px;
  margin-left: 0.58073%;
  background-color: rgb(222, 222, 222);
}

._button {
  display: block;
  width: 100%;
  height: 205px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container ._button-1 {
  float: left;
  background-color: rgb(11, 62, 174);
}

.container ._button-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(10, 58, 165, 0.5);
}