body {
  background-color: rgb(255, 255, 255);
  font: 400 1.25em/1.38 'Open Sans';
  color: rgb(255, 255, 255);
}

.background {
  float: left;
  width: 100%;
  height: 970px;
  background: url('../images/Pague%20leve.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
}

.container {
  position: relative;
  float: left;
  width: 100%;
}

.element {
  position: relative;
  float: left;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.text {
  float: left;
}

.container-1 {
  z-index: 1;
  height: 1000px;
}

.container-2 {
  clear: both;
  z-index: 7;
  height: 843px;
  margin-top: -1000px;
}

.element-1 {
  z-index: 4;
  width: 39.19921875%;
  margin: 47px 0 0 1.63281%;
  background-image: url('../images/Pague%20leve%20LOGO%20.png');
}

.element-2 {
  clear: both;
  z-index: 5;
  width: 39.1666666666%;
  margin: 96px 0 0 10%;
  background-image: url('../images/Pague%20leve%20LOGO%202.png');
}

.text-1 {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.6em;
  line-height: 2.5;
  text-align: center;
  color: rgb(11, 62, 174);
}

.text-2 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 39.1666666666%;
  height: 300px;
  min-height: 293px;
  margin: 47px 0 0 10%;
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: rgba(11, 62, 174, 0.5);
  font-size: 1em;
  text-align: justify;
  text-indent: 50px;
  color: rgb(255, 255, 255);
}

.text-3 {
  position: relative;
  z-index: 3;
  width: 39.1666666666%;
  height: 300px;
  min-height: 256px;
  margin: 96px 0 0 1.63151%;
  padding-top: 3px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  background-color: rgba(11, 62, 174, 0.5);
  font-size: 1em;
  text-align: justify;
  text-indent: 50px;
  color: rgb(255, 255, 255);
}