

<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Scan&Skip - {% block title %}{% endblock %}</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/standardize.css' %}">
  {% block extra_head_content %} {% endblock %}
  <link rel="stylesheet" href="{% static 'cadastroapp/css/header---footer-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/header---footer.css' %}">

</head>
<body class="body page-header---footer clearfix">

<div class="corpo">
    <div class="wrapper">{% block content %} {% endblock %}</div>
    <footer class="footer"></footer>
</div>
  <div class="barra clearfix">
    <p class="textheader">Scan&Skip</p>
    <div class="botoesbarra clearfix">
      <a href="/"><button class="botaoBarra botaoHome">Home</button></a>
      <a href="/sobre"><button class="botaoBarra botaoSobre" type="button">Sobre</button></a>
      <a href="/login"><button class="botaoBarra botaoLogin">Login</button></a>
      <a href="/cadastro"><button class="botaoBarra botaoCadastro">Cadastre-se</button></a>
    </div>
  </div>

  <script src="{% static 'cadastroapp/js/jquery-min.js' %}"></script>
</body>
