

<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Scan&Skip - {% block title %}{% endblock %}</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/standardize.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/header---footer-grid.css' %}">
  <link rel="stylesheet" href="{% static 'cadastroapp/css/header---footer.css' %}">
    {% block extra_head_content %}{% endblock %}
</head>
<body class="body page-header---footer clearfix">

<div class="corpo">
    <div class="wrapper">{% block content %} {% endblock %}</div>
    <footer class="footer"></footer>
</div>
  <div class="barra clearfix">
    <p class="text">Scan&Skip</p>
    <div class="botoesbarra clearfix">
      <a href="/cadastro/home"><button class="botaobarra botaohome">Home</button></a>
      <a href="/cadastro/sobre"><button class="botaobarra botaosobre" type="button">Sobre</button></a>
      <a href="/cadastro/login"><button class="botaobarra botaologin">Login</button></a>
      <a href="/cadastro/realiza_cadastro"><button class="botaobarra botaocadastro">Cadastre-se</button></a>
    </div>
  </div>

  <script src="{% static 'cadastroapp/js/jquery-min.js' %}"></script>
</body>
